$main-color: #495057;
$headline-color: #646e7c;
$thin-text-color: #5a6474;

$main-background-color: #dbf1ed;
$second-background-color: #f2fbff;
$third-background-color: #fafafa;

$main-btn-background-color: #3B82F6;
$hover-btn-background-color: #295bac;

$thin-border-color: #e1e3e6;
