// Generic styles and CSS resets
* {
  font-family: 'Open Sans', 'Montserrat', 'Helvetica', sans-serif;
  outline: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

img {
  max-width: 100%;
}

label {
  user-select: none;
}

// General styles and classes
.popup {
  position: absolute;
  top: 10em;
  right: 5em;
  width: 30em;
  display: flex;
  padding: 1.6em;
  border-radius: 1.6em;
}

.bold {
  font-weight: 700;
}

// Popup transitions
/// Success popup
.success-enter-from,
.success-leave-to {
  opacity: 0;
}

.success-enter-to,
.success-leave-from {
  opacity: 1;
}

.success-enter-active {
  transition: all 0.5s;
}

.success-leave-active {
  transition: all 0.8s ease;
}

.success-move {
  transition: all 0.8s ease;
}

/// Error popup
.error-enter-active {
  animation: errorEnter 5s ease;
}

.error-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.error-leave-to {
  transform: translateY(8em);
  opacity: 0;
}

.error-leave-active {
  transition: all 1s;
}

@keyframes errorEnter {
  0% {
    opacity: 0;
    transform: translateY(-8em);
  }
  50% {
    opacity: 1;
    transform: translateY(0em);
  }
  60% {
    transform: translateX(-8px);
  }
  70% {
    transform: translateX(8px);
  }
  80% {
    transform: translateX(-4px);
  }
  90% {
    transform: translateX(4px);
  }
  100% {
    transform: translateY(0);
  }
}

/// Info popup
/// TODO
