// Generic styles and CSS resets
* {
  font-family: 'Open Sans', 'Montserrat', 'Helvetica', sans-serif;
  outline: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  color: $main-color;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $headline-color;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

img {
  max-width: 100%;
}

label {
  user-select: none;
}

#app {
  height: 100%;
  display: flex;
  flex-flow: column;
}

// General styles and classes
.bold {
  font-weight: 700;
}
